name: Publish Release
description: "Publish current release"
inputs:
  GITHUB_TOKEN:
    description: "Github Token"
    required: true
runs:
  using: "composite"
  steps:
    - name: List Files On Dry Run
      shell: bash
      run: echo "Available files" && ls ./scraper/dist_legislation
    - name: Update Nightly Release
      uses: andelf/nightly-release@v1
      env:
        GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN }}
      with:
        tag_name: nightly
        name: "Nightly release of legislation $$"
        prerelease: false
        files: |
          ./scraper/dist_legislation/*.json
